---
import * as CONFIG from "../config";
const social_links = CONFIG.LINKS;
import { Octokit } from "@octokit/core";
import ls from "localstorage-slim";

// Import Env. Variable.
const api = import.meta.env.PUBLIC_GITHUB_API;

// Assign new OctoKit.
const octokit = new Octokit({
	auth: api,
});

// Get Events.
const event = await octokit.request("GET /users/{username}/events", {
	username: "atakanoz",
});

// Get Repo.
const repo = await octokit.request("GET /repos/{owner}/{repo}", {
	owner: "atakanoz",
	repo: event.data[0].repo.name.replace("atakanoz/", ""),
});

// Define consts for data.
const commit_message = event.data[0].payload.commits[0].message;
const commit_date = event.data[0].created_at;
const repo_url = repo.data.html_url;
const repo_name = repo.data.name;
---

<footer>
	<div class="social_links">
		{Object.values(social_links.social).map((item) => <a href={item.link}>{item.name}</a>)}
	</div>
	<div class="latest_commit">
		<p>Latest commit is <a href="#">{commit_message}</a> on <a href={repo_url}>{repo_name}</a> at {commit_date}.</p>
	</div>
</footer>

<style lang="scss" is:global>
	.social_links {
		@apply flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5;

		a {
			@apply text-slate-300 text-opacity-80 border-b border-slate-500 border-opacity-20 inline-flex hover:text-slate-200 transition-all;
		}
	}

	.latest_commit {
		@apply text-slate-300 text-opacity-80 mt-5;

		a {
			@apply text-slate-100 border-b border-slate-500 border-opacity-20 hover:border-slate-200 hover:border-opacity-80 transition-all;
		}
	}
</style>
