---
import { Octokit } from "@octokit/core";

const api = import.meta.env.SECRET_GITHUB_API;

const octokit = new Octokit({
	auth: api,
});

const event = await octokit.request("GET /users/{username}/events", {
	username: "atakanoz",
});

const repo = await octokit.request("GET /repos/{owner}/{repo}", {
	owner: "atakanoz",
	repo: event.data[0].repo.name.replace("atakanoz/", ""),
});

const commit = event.data.find((add) => add.type === "PushEvent");
const commit_url = repo.data.html_url + "/commit/" + commit.payload.commits[0].sha;
const commit_message = commit.payload.commits[0].message;
const commit_date = event.data[0].created_at;
const repo_url = repo.data.html_url;
const repo_name = repo.data.name;
---

<div class="latest_commit">
	<p>
		Latest commit is <a href={commit_url} title="Latest commit" aria-label="Latest commit">{commit_message}</a>
		on <a title="Commit repo" aria-label="Commit repo" href={repo_url}>{repo_name}</a> at {commit_date}.
	</p>
</div>

<style lang="scss">
	.latest_commit {
		@apply text-slate-300 text-opacity-80 mt-5;

		a {
			@apply text-slate-100 border-b border-slate-500 border-opacity-20 hover:border-slate-200 hover:border-opacity-80 transition-all;
		}
	}
</style>
